*{
    padding: 0;
    margin:0;
}
header{
    background-color: #f7b617;
    color: white;
}
body{
    background:#000; 
}

div #map{
    width: 100%;
    height: 600px;

}
 #map {
        height: 400px;
        width: 100%;
       }
       h2{
        color: #fff;
        text-align: center;
       }
       button{
            margin: 15px auto;
            padding: 10px 15px;
            color: white;
            border: 0;
            width: 100%;
            background-color:#f7b617;
            font-size: 30px;  
            color:#d6e1e2;
       }
     

       /*.container{
        width: 100%;
        height: 70px;
        background-color: #f7b617;
       }*/
       .input-1{
          padding: 20px 70px;
          background:transparent;
          border-radius: 10px; 
          border-color: 2px solid #fff;
          border-style: solid;
       }
        .input-2{
          padding: 20px 70px;
          background:transparent;
          border-radius: 10px;
          margin-left: 150px; 
          border-color: 2px solid #fff;
          border-style: solid;
       }
